body {
    background-color: #051e3e; /* Dark blue background color */
    color: white; /* White text color */
    font-family: 'Motiva', sans-serif; /* Motiva font */
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 36px;
}

p {
    font-size: 18px;
}