body {
	background-color: #171a21;
	color: #c6d4df;
	font-family: Arial, sans-serif;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	min-height: 600px; /*Prevents elements to "hide" above/below screen on mobile resolutions*/
  	width: 100vw;
	text-align: center;
}

.container {
    max-width: 800px;
    padding: 20px;
}

button {
  border-radius: 2px;
  border: none;
  font-size: 16px;
  padding: 8px;
  display: inline-block;
  cursor: pointer;
  color: #D2E885;
  background: #a2a225;
  background: -webkit-linear-gradient( top, #a2a225 5%, #695304 95%);
  background: linear-gradient( to bottom, #a2a225 5%, #695304 95%);
}

button:disabled,
button[disabled] {
  background: #aaa;
  background: -webkit-linear-gradient( top, #aaa 5%, #666 95%);
  background: linear-gradient( to bottom, #aaa 5%, #666 95%);
}

button.linkSteam {
  background: #a4d007;
  background: -webkit-linear-gradient( top, #a4d007 5%, #536904 95%);
  background: linear-gradient( to bottom, #a4d007 5%, #536904 95%);
}

span {
  font-size:12px;
  height: 16px;
  text-align: center;
  color: #777;
  margin-top: 30px;
  display: block;
}

span.error {
  color: #f00;
}

span.success {
  color: #0f0;
}

div {
  margin-left: 15px;
  margin-right: 15px;
}

div#createOptions {
  display: flex;
}

div.option {
  width: 400px;
}

h1 {
    font-size: 36px;
    color: #66c0f4; /* Blue color similar to Steam */
}

p {
    font-size: 18px;
    line-height: 1.5;
}

a {
    color: #66c0f4; /* Blue color similar to Steam */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

@media (max-width:700px) {
  div#createOptions {
    display: block;
  }
  div {
    margin-left: 0px;
    margin-right: 0px;
  }
}
